.detail-button-container {
    display: flex;
    justify-content: center; 
  }
  
 
  
  .detail-button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
    margin: 0 10px;
  }
  .status-container{
    margin: 10px auto;
    padding: 2px 2px;
    width: 90%;
    display: inline-block;
    text-align: center;
      
  }
  

  
  label {
    float: left;
  }
  .confirm-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 9; /* Đặt giá trị z-index cao hơn để hiển thị trên cùng */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .detail-dialog {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    font-size: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 6; /* Đặt giá trị z-index cao hơn để hiển thị trên cùng */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .detail-dialog h1{
    background-color: rgba(48,47,98,0.9);
    font-size: 20px;
    padding: 5px 10px;
    color: white;
    display: block;
    max-width: fit-content;
  }
  .Detail-header-box{
    display: block;
    width: 100%;
    padding-top: 10px;
  }
  .Detail-header-box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    float:left;

  }
  .Detail-request-box{
    margin-left: 20px;
    height: 100px;
    display: inline-block;
    width: calc(100% - 120px);
  }
  .Detail-request-box .cusName{
    background-color: rgba(204, 204, 204, 0.8);
    padding: 5px 20px; 
    border-radius: 20px;
    display: block;
    font-size: 20px;
  }
  .Detail-request-box .Request-Detail{
    font-size: 15px;
  }
  .Detail-Image{
    background-color: #e4e4e4;
    display: block;
    width: 100%;   
    margin-top: 10px; 
    border-radius: 20px;
  }
  .Detail-Image h3 {
    padding :10px 20px;
    background-color: #ccc;
    font-size: 20px;
    font-weight: bold;
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px ;
  }
  .Detail-Image-List {
    list-style: none;
    display: block;

  }
  .Detail-Image-List img{
    width: 200px;
    display:flexbox;
    margin: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .Request-Description {
    background-color: #e4e4e4;
    display: block;
    width: 100%;   
    margin-top: 10px; 
    border-radius: 20px;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
  .Request-Description h3{
    padding :10px 20px;
    background-color: #ccc;
    font-size: 20px;
    font-weight: bold;
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px ;
  }
  .Request-Description h4 {
    padding: 5px 0px 15px 20px;
    font-size: 15px;
  }
  .Request-Description h5 {
    padding: 5px 0px 15px 20px;
    font-size: 15px;
  }
  /* CSS cho overlay (nền mờ xung quanh hộp thoại) */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
    z-index: 9; /* Đặt giá trị z-index dưới hộp thoại */
  }
  .btn1.send {
    background-color: #c4bbb2 ;
  }
  .overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Màu nền mờ */
    z-index: 3; /* Đặt giá trị z-index dưới hộp thoại */
  }
  .btn1.payment {
    background-color: rgb(107, 179, 107) ;
  }
  .btn1:hover{
    background-color:darkgray;
    border-color: #fff;
  }

  .detail-dialog .action-button {
    padding: 10px;
    margin: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: medium;
  }
  
  .complete-config-ctn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

 .popup-complete-config {
    position: relative !important;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    width: 35%;
  }
  
  .popup-complete-config  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
    background: none;
    border: none;
  }
  .popup-complete-config h2{
    border-color: black;
    border-bottom-style: groove;
  }
  .popup-complete-config  .span-complete-config{
    display: inline-flex;
    width: 90%;
    justify-content: space-between;
  }
  .popup-complete-config  .span-complete-config .complete-noti-btn{
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }