*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.header-logo {
    width: 150px;
    position: absolute;
    top: 0;
}

.wrapper {
    width: 420px;
    color: #000;
    border-radius: 12px;
    padding: 30px 40px;
}

.wrapper a {
    text-decoration: none;
    color: #000;
    margin: 16px 0;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #000;
    border-radius: 40px;
    color: #000;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #000;
}

.wrapper .btn-signup {
    width: 100%;
    height: 46px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.wrapper .btn-close {
    width: 100%;
    height: 46px;
    background: #ff0000;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: block;
    text-decoration: none;
    line-height: 46px;
}

.wrapper .btn-close:hover {
    background-color: rgba(255,0,0,0.5);
}