.hover-bg-gray:hover{background-color: gray;}
.hover-c-white:hover{color: white;}
.hover-mouse:hover{cursor: pointer;}
.c-gray{color:gray}
.border-green{border: 1px solid rgb(16, 196, 16)}
.hover-bg-green:hover{background-color: rgb(16, 196, 16)}
.normal-button-hf {
    background-color: #01317e;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin:10px
  }
  
  .normal-button-hf:hover {
    background-color: #000000;
  }