.detail-button-container {
    display: flex;
    justify-content: center; 
  }
  
  /* CSS for the buttons */
  
  .detail-button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    transition: background-color 0.3s ease;
    margin: 0 10px;
  }
  .status-container{
    margin: 10px auto;
    padding: 2px 2px;
    width: 90%;
    display: inline-block;
    text-align: center;
      
  }
  

  
  label {
    float: left;
  }
