
.informationForm-container {
    width: 50%;
    margin:auto;
    padding: 20px;
    background-color: #e49c9c26;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.informationForm-container .informationForm-name{
    text-align: center;
}
.informationForm-container .informationForm-group{
    /* background-color: aqua; */
    margin: 10px auto;
    padding: 2px 2px;
    width: 90%;
    display: inline-block;
}
.informationForm-group input,select{
    float:right;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin:auto;
    width: 80%;
    height: 3em
}
.informationForm-container .informationForm-group textarea{
    margin:auto;
    float:right;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin:auto;
    width: 80%;
    overflow: hidden;
}
.image-button-container{
    margin: 0px auto;
    padding: 2px 2px;
    width: 90%;
    display: inline-block;
}
.image-button-container input{
    float: right;
}



.informationForm-container .informationForm-group .MuiFormControl-root{
    margin:auto;
    float:right;
    box-sizing: border-box;
    background-color: #f8f8f8;
    resize: none;
    margin:auto;
    width: 80%;
}
.informationForm-container .informationForm-group  .MuiInputBase-input {
    width: 100%;
    text-align: center;
}
.informationForm-container .submit-button-container{
    display: inline-block;  
    margin:0 40%;
}
.providerForm{
    position:relative;
}

.providerForm .provider-search-button{
    position:absolute;
    right:0;
    border: 0;
    color: black;
    outline: none;
    padding: 3px 10px;
    z-index: 2;
    background-color: rgb(21, 179, 0);
    border-radius: 4px;
    height: 3em;
    transform: translateX(-1%);
}





    