
.informationForm-container {
    width: 50%;
    margin:auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #dddcdc;
    border-radius: 16px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    
}
.informationForm-container .informationForm-name{
    text-align: center;
}
.informationForm-container .informationForm-group{
    /* background-color: aqua; */
    margin: 10px auto;
    padding: 2px 2px;
    width: 90%;
    display: inline-block;
}
.informationForm-group input,select{
    float:right;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin:auto;
    width: 80%;
    height: 3em;
    padding-left: 10px;
}
.informationForm-container .informationForm-group textarea{
    margin:auto;
    float:right;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin:auto;
    width: 80%;
    overflow: hidden;
    padding-left: 10px;
}
.image-button-container{
    margin: 0px auto;
    padding: 2px 2px;
    width: 90%;
    display: inline-block;
}
.image-button-container input{
    float: right;
}



.informationForm-container .informationForm-group .MuiFormControl-root{
    margin:auto;
    float:right;
    box-sizing: border-box;
    background-color: #f8f8f8;
    resize: none;
    margin:auto;
    width: 80%;
}
.informationForm-container .informationForm-group  .MuiInputBase-input {
    width: 100%;
    text-align: center;
}
.informationForm-container .submit-button-container{
    display: inline-block;  
    margin:0 40%;
}
.providerForm{
    position:relative;
}

.providerForm .provider-search-button{
    position:absolute;
    right:0;
    border: 0;
    color: white;
    outline: none;
    padding: 3px 10px;
    z-index: 2;
    background-color: black;
    border-radius: 4px;
    height: 3em;
    transform: translateX(-1%);
}

.cfm-config-ctn{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cfm-config-ctn .popup-confirm-config{
    position: relative !important;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    width: 35%;
}

.popup-confirm-config h2{
    text-align: center;
}
.informationForm-container button{
    color:rgb(255, 255, 255);
    background-color: #013282;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.informationForm-container button:hover{
    background-color: #000000;
}

.popup-confirm-config h2{
    text-align: center;
    border-bottom: 1px solid #000000;
    ;
}


.cfm-config-btn{
    color:rgb(255, 255, 255);
    background-color: #01317e;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    align-items: center;
}
.cfm-config-btn:hover{
    background-color: #000000;
}
.popup-confirm-config p{
    text-align: center;
}
.btn-ctn-cfm-cfg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  