.background {
    text-align: center;
    background-color: white;
    width: 100vw;
    height: 100vh;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
  }



  




@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:opsz,wght@6..12,700&display=swap');

.chat{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.tab {
  float: left;
  border: none;
  background-color: #a5a5a5;
  width: 20%;
  height: 100%;
}



.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
.tab button span{
    float: left;
    width: 30px;
    height: 30px;
}
.icon{
    background: url(../../img/iconAccount_2.png) no-repeat;
    float: left;
    margin-right: 10px;
    background-size: 30px;
}
  
.tab button:hover {
    background-color: #dddd;
  }
  
 
.tab button:focus {
    background-color: black;
    color: white;
  }
  
 
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border: none;
    height: 100%;
    margin-left: 98px;
  }


.msg-frame {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    background: var(--msger-bg);
     
  }

.msg-frame .msg{
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}
.msg-frame .msg::-webkit-scrollbar {
    width: 6px;
}
.msg-frame .msg::-webkit-scrollbar-track {
    background: #ddd;
}
.msg-frame .msg::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}
.msg-frame .msg-input-area{
    display: flex;
    background-color: #D9D9D9;
    border-radius: 20px;
    justify-content: space-between;
    width: 944px;
    height: 50px;
}
.msg-frame .msg-input-area .msg-input{
    border: none;
    background-color: transparent;
    width: 80%;
}
.msg-frame .msg-input-area .msg-input:focus{
    outline: none;
}
.msg-frame label{
    cursor: pointer;
}
.msg-frame label span{
    float: left;
    width: 30px;
    height: 30px;
    
}
.msg-frame label .icon-img{
    background: url(../../img/iconImg.png) no-repeat;
    margin-right: 10px;
    margin-top: 7px;
    background-size: 40px;
    background-position: center;
    margin-left: 20px;
}
.msg-frame .msg-input-area button{
    border: none;
    background-color: black;
    color: white;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    font-size: 17px;
    width: 79px;
    
}
.msg-frame .msg-input{
    font-size: 18px;
}
.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 20px;
    font-size: 17px;
    margin-bottom: 15px;
   
  }
.left-msg .msg-bubble{
    background-color: #a5a5a5;
    text-align: left;
    color: black
    
  }
.left-msg{ display: flex;
    justify-content: flex-start;
}
.right-msg {
    display: flex;
    justify-content: flex-end;
}
.right-msg .msg-bubble {
    background-color: #3f82e5;
    text-align: left;
    
}

.msg-info-time {
    font-size: 0.85em;
  }

